<div class="page-header">
  <h1>
    Messages
    <a href="/messages/new" class="btn btn-lg btn-success">New Message</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Content</th>
        <th>From</th>
        <th>Actions</th>
      </tr>

      <% @messages.each do |message| %>
      <tr>
        <td><%= message.to.first_name %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= message.from_id %></td>
        <td>
          <a href="/messages/<%= message.id %>" class="btn btn-primary">Show</a>
          <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
