<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Room type</dt>
      <dd><%= @listing.room_type %></dd>

      <dt>User</dt>
      <dd>
        <% if @listing.user.present? %>
          <a href="/users/<%= @listing.user_id %>">
            <%= @listing.user.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>Bedroom count</dt>
      <dd><%= @listing.bedroom_count %></dd>

      <dt>Bathroom count</dt>
      <dd><%= @listing.bathroom_count %></dd>

      <dt>Bed count</dt>
      <dd><%= @listing.bed_count %></dd>

      <dt>Max occupancy</dt>
      <dd><%= @listing.max_occupancy %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>Check in time</dt>
      <dd><%= @listing.check_in_time %></dd>

      <dt>Nightly price</dt>
      <dd><%= @listing.nightly_price %></dd>

      <dt>Address</dt>
      <dd><%= @listing.address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Listing has many userphotos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Userphotos
      </li>

      <% @listing.userphotos.each do |userphoto| %>
        <li class="list-group-item">
          <a href="/userphotos/<%= userphoto.id %>">
            <%= userphoto.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/userphotos/<%= userphoto.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/userphotos/<%= userphoto.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_userphoto/<%= userphoto.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_userphoto" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Userphoto
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many availabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availabilities
      </li>

      <% @listing.availabilities.each do |booking| %>
        <li class="list-group-item">
          <a href="/bookings/<%= booking.id %>">
            <%= booking.price %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookings/<%= booking.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookings/<%= booking.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_booking/<%= booking.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_booking" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for booked -->
      <div class="checkbox">
        <label for="booked">
          <input type="checkbox" id="booked" name="booked" value="1" <%= "checked" if @booking.booked %>>
          Booked
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Booking
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @listing.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many listingreviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Listingreviews
      </li>

      <% @listing.listingreviews.each do |listingreview| %>
        <li class="list-group-item">
          <a href="/listingreviews/<%= listingreview.id %>">
            <%= listingreview.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/listingreviews/<%= listingreview.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/listingreviews/<%= listingreview.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_listingreview/<%= listingreview.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_listingreview" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for accuracy -->
      <div class="form-group">
        <label for="accuracy" class="control-label">
          Accuracy
        </label>

        <input type="text" id="accuracy" name="accuracy" placeholder="Accuracy" class="form-control" value="">
      </div>

      <!-- Label and input for communication -->
      <div class="form-group">
        <label for="communication" class="control-label">
          Communication
        </label>

        <input type="text" id="communication" name="communication" placeholder="Communication" class="form-control" value="">
      </div>

      <!-- Label and input for cleanliness -->
      <div class="form-group">
        <label for="cleanliness" class="control-label">
          Cleanliness
        </label>

        <input type="text" id="cleanliness" name="cleanliness" placeholder="Cleanliness" class="form-control" value="">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for check_in -->
      <div class="form-group">
        <label for="check_in" class="control-label">
          Check in
        </label>

        <input type="text" id="check_in" name="check_in" placeholder="Check in" class="form-control" value="">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="">
      </div>

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Listingreview
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
