<!-- Validation failure messages -->
<% if @request.errors.any? %>
  <% @request.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Request</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for booking_id -->
      <div class="form-group">
        <label for="booking_id" class="control-label">
          Booking
        </label>

        <%= select_tag(:booking_id, options_from_collection_for_select(Booking.all, :id, :price, @request.booking_id), :class => "form-control") %>
      </div>

      <!-- Label and input for introduction -->
      <div class="form-group">
        <label for="introduction" class="control-label">
          Introduction
        </label>

        <textarea id="introduction" name="introduction" placeholder="Introduction" class="form-control" rows="3"><%= @request.introduction %></textarea>
      </div>

      <!-- Label and input for from_id -->
      <div class="form-group">
        <label for="from_id" class="control-label">
          From
        </label>

        <%= select_tag(:from_id, options_from_collection_for_select(User.all, :id, :first_name, @request.from_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Request
      </button>
      or
      <a href="/requests">Cancel</a>
    </form>
  </div>
</div>
