<div class="page-header">
  <h3>Userreview #<%= @userreview.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Reviewer</dt>
      <dd>
        <% if @userreview.reviewer.present? %>
          <a href="/users/<%= @userreview.reviewer_id %>">
            <%= @userreview.reviewer.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Reviewed</dt>
      <dd>
        <% if @userreview.reviewed.present? %>
          <a href="/users/<%= @userreview.reviewed_id %>">
            <%= @userreview.reviewed.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= @userreview.title %></dd>

      <dt>Content</dt>
      <dd><%= @userreview.content %></dd>

      <dt>Rating</dt>
      <dd><%= @userreview.rating %></dd>

      <dt>Booking</dt>
      <dd>
        <% if @userreview.booking.present? %>
          <a href="/bookings/<%= @userreview.booking_id %>">
            <%= @userreview.booking.price %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/userreviews" class="btn btn-primary">
        Back
      </a>
      <a href="/userreviews/<%= @userreview.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_userreview/<%= @userreview.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
